body{
    background-color: #080211;
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    background-attachment: fixed;
    font-family: 'Varela Round','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.hide-scroll::-webkit-scrollbar {
  display:none;
}
.hide-scroll {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
#p{
  text-align: center;
}
.logoc{
  border-radius:70vh;
  height: 35vh;
  width: 25vw;
  text-align: center;
}
input{
  border:0.5vh solid #efeef1; 
  border-radius: 15vh;
  background-color: #0e0d0def;
  size: 40vh;
  font-size: 3vh;
  color: #fff; 
}
h1{
    margin-top: 10vh;
    text-align: center;
    font-size: 5vh;
    color: yellow;
}
#name{
    margin-top: 4vh;
    align-items: center;
    text-align: center;
    
}
.over{
  background-color:transparent;
  top: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: sans-serif;
  text-align: center;
  display: none;
}
.end{
  background-color: aliceblue;
  width: 420px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50% ) ;
  left:50%;
  top:50%;
  border-radius: 8px;
  font-family: sans-serif;
  text-align: center;
  display: none;
  border-style: dotted;
}
.end p{
  color: rgb(255, 170, 0);
  font-size: 45px;
  font-family: fantasy;
  text-align: center;
}
.end button{
 font-size: 33px;
border-radius: 5%;
border: none;  
outline: none; 
cursor: pointer; 
background-color: rgb(255, 170, 0);
color: aliceblue;
line-height: 10px;
min-height: 40px;
min-width: 50px;
text-align: center;
}
.enter{  
  width: (33.333%,-2%);
  padding: 2%;
  margin: 4%;
  margin-right: 43%;
  background-color: rgba(244, 238, 239, 0); 
  border: 1px solid rgba(186, 9, 133, 0);
  border-style: dotted;
  margin-bottom: 2%;
  margin-top: 2%;
  border-radius: 15px;  
    align-items: center;
    text-align: center;  
    display: flex;
}
.y {
    left: 50%;
    margin-top: 8vh;
    margin-left: 3vw;
    position: relative;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, yellow, orange, red, violet, purple, blue, yellow);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
  }
.z{
    margin-top: 8vh;
    position: relative;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,rgb(56, 255, 56) ,rgb(97, 97, 245) ,rgb(17, 17, 136)  , rgb(0, 0, 90));
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
.x{
  left: 50%;
    margin-top: 8vh;
    margin-left: 3vw;
    position: relative;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,rgb(56, 255, 56) ,rgb(97, 97, 245) ,rgb(17, 17, 136)  , rgb(0, 0, 90));
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
} 
  a:hover {
    animation: animate 8s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  a:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5%;
  }
  a:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }