body{
    background-color: #080211;
    font-family: 'Varela Round','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bolder;
      background-image: url("../images/reka3.jpg");
      background-repeat: no-repeat;
      background-size: 100%, 100%;
}
.hide-scroll::-webkit-scrollbar {
    display:none;
}

.hide-scroll {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
h1{
    text-align: center;
    margin: 1vh;
    font-size: 7vh;
    color: yellow;
    font-family: 'Varela Round','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bolder;
}
h2{
    text-align: center;
    margin: 1vh;
    font-size: 7vh;
    color: yellow;
    font-family: 'Varela Round','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bolder;
}
p{
    text-align: center;
    font-size: 3vh;
    color: rgb(237, 237, 241);
    font-family: 'Varela Round','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bolder;
}
.over{
    background-color:transparent;
    top: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    display: none;
  }
  
  .end{
    /*
    background-color: aliceblue;
    width: 20vw;
    padding: 5vh;
    position: absolute;
    transform: translate(-50%,-50% ) ;
    left:50%;
    top:50%;
    border-radius: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
    text-align: center;
    display: none;
    border-style: dotted;*/
  }
  .end p{
    color: rgb(255, 170, 0);
    font-size: 7vh;
    font-family: fantasy;
    text-align: center;
  }
  .end button{
   font-size: 7vh;
  border-radius: 5%;
  border: none;  
  outline: none; 
  cursor: pointer; 
  background-color: rgb(255, 170, 0);
  color: aliceblue;
  line-height: 10px;
  min-height: 40px;
  min-width: 50px;
  text-align: center;
  }
  .enter{  
    padding: 2%;
    margin: 14%;
    background-color: rgba(244, 238, 239, 0); 
    border: 1px solid rgba(186, 9, 133, 0);
    border-style: dotted;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 15px;  
      align-items: center;
      text-align: center;  
      display: flex;
  }
  
  
  .y {
      left: 50%;
      margin-top: 4vh;
      position: relative;
      transform: translate(-50%, -50%);
      width: 25vw;
      height: 11vh;
      text-align: center;
      line-height: 60px;
      color: #fff;
      font-size: 4vh;
      text-transform: uppercase;
      text-decoration: none;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      box-sizing: border-box;
      background: linear-gradient(90deg, yellow, orange, red, violet, purple, blue, yellow);
      background-size: 400%;
      border-radius: 15vh;
      z-index: 1;
      
    }
    a:hover {
        animation: animate 8s linear infinite;
      }
      @keyframes animate {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 400%;
        }
      }
      a:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
        background-size: 400%;
        border-radius: 40px;
        opacity: 0;
        transition: 0.5%;
      }
      a:hover:before {
        filter: blur(20px);
        opacity: 1;
        animation: animate 8s linear infinite;
      }

      #sub1 {
        position: absolute;
        width: 2vw;
        height: 14vh;
        animation: move-down2 12s linear infinite;
        z-index: -1;
      }
      
      @keyframes move-down2 {
      100% {
         right:40%;
         top:99%;
            } 
      0%{
         right: 40% ;
         top:0%;
      }
      } 
    
      #sub2{
        position: absolute;
        width: 10vw;
        height: 4vh;
        animation: move-left2 18s linear infinite;
        z-index: -1;
      }
      
      @keyframes move-left2 {
      100% {
         right:99%;
         top:40%;
            } 
      0%{
         right: 0% ;
         top:40%;
      }
      } 
    
      #sub3{
        position: absolute;
        width: 10vw;
        height: 4vh;
        animation: move-left3 27s linear infinite;
        z-index: -1;
      }
      
      @keyframes move-left3 {
      100% {
         right:0%;
         top:80%;
            } 
      0%{
         right: 99% ;
         top:80%;
    
      }
      } 